
.choice-container {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  font-size: 18px;
  border: 2px solid rgb(86, 165, 235, 0.25);
  background-color: #13468d;
}
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 2px 10px 0 rgba(192, 192, 192, 0.5);
  transform: translateY(-2px);
  transition: transform 150ms;
}
.choice-prefix {
  padding: 10px 15px;
  background-color: #4f85d1;
  color: #fff;
}

.choice-text {
  padding: 10px 15px;
  width: 100%;
}

.correct {
  background-color: #5ed14f;
}
.incorrect {
  background-color: #d84f4f;
}

/* hud */

#hud {
  display: flex;
  justify-content: space-around;
}
.bg-red{
  background-color: #d84f4f;
}

.hud-prefix{
  text-align: center;
  font-size: 20px;
}

.rodada.rodadaFinal {
  font-size: 32px;
  font-weight: 700;
  color: #f8e804;
}

.hud-main-text {
  text-align: center;
}
#roundDesc {
  font-size: 16px;
  margin: 5px 0px;
}
.btnsFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.btnParar,
.btnSair {
  width: 100px;
  font-size: 14px;
  text-decoration: none;
  visibility: hidden;
  border: 2px solid #d84f4f;
  text-align: center;
  padding: 10px 0px;
  margin-top: 10px;
}
.btnSair {
  display: block;
  visibility: visible;
  margin-left: 10px;
}
.btnParar:hover,
.btnSair:hover  {
  background-color: #d84f4f;
  transition: all 0.3s ease;
  color: #fff;
}

#tempo {
  font-size: 24px;
  margin: 0 auto;
  font-weight: bold;
  color: #d84f4f;
}

